html {
    height: 100%;
}

body {
    height: 100%%;
    color: white;
    padding: 80px 0;
    font-family: 'Quattrocento', serif;
    background: rgba(211, 16, 39, 1);
    background: -moz-linear-gradient(left, rgba(211, 16, 39, 1) 0%, rgba(234, 56, 77, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(211, 16, 39, 1)), color-stop(100%, rgba(234, 56, 77, 1)));
    background: -webkit-linear-gradient(left, rgba(211, 16, 39, 1) 0%, rgba(234, 56, 77, 1) 100%);
    background: -o-linear-gradient(left, rgba(211, 16, 39, 1) 0%, rgba(234, 56, 77, 1) 100%);
    background: -ms-linear-gradient(left, rgba(211, 16, 39, 1) 0%, rgba(234, 56, 77, 1) 100%);
    background: linear-gradient(to right, rgba(211, 16, 39, 1) 0%, rgba(234, 56, 77, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d31027', endColorstr='#ea384d', GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}

.navbar-default {
    background-color: #A81D27;
}

.navbar-fixed-top {
    border-width: 0;
}

.navbar-default a.navbar-brand,
.navbar-default a:hover.navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

#navbar a {
    color: white;
}

#navbar a:hover {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav .active a {
    text-decoration: underline;
    background: transparent;
}

.navbar-default .navbar-nav .active a:hover {
    text-decoration: underline;
    background: transparent;
}

#main-content {
    text-align: center;
}

div.circle-avatar {
    /* make it responsive */
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    /* div height to be the same as width*/
    padding-top: 100%;
    /* make it a circle */
    border-radius: 50%;
    /* Centering on image`s center*/
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    /* it makes the clue thing, takes smaller dimention to fill div */
    background-size: cover;
    /* it is optional, for making this div centered in parent*/
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*===========================================================================================*/
/*google map stuff*/

#map, #map-2 {
    height: 200px;
    width: 100%;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input, #pac-input-2 {
    background-color: #fff;
    font-family: 'Quattrocento', serif;
    font-size: 13px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus, #pac-input-2:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}


/*google map stuff*/
/*===========================================================================================*/
